<h1><%= @cat.name %>!!</h1>

<table>
  <tr>
    <th>Birth Date</th>
    <th>Age</th>
    <th>Color</th>
    <th>Sex</th>
  </tr>
  <tr>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
  </tr>

</table>

<p><%= @cat.description %></p>

<h3>Rental Requests:</h3>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% @rentals.each do |rental| %>
    <tr>
      <td><%= rental.start_date %></td>
      <td><%= rental.end_date %></td>
    </tr>
  <% end %>
</table>

<a href="<%= edit_cat_url %>">Edit cat</a>
<a href="<%= cats_url %>">Index</a>