<h2><%= @post.title %></h2>

<p>Content: <%= @post.content %></p>

<% if logged_in? %>
  <a href="<%= new_post_comment_url(@post) %>">Create a comment</a>
<% end %>

<ul>
  <% @post.comments.where(parent_comment_id: nil).each do |comment| %>
    <li>
      <a href="<%= comment_url(comment) %>"><%= comment.content %></a>
      <%= render 'comment', comment: comment %>
    </li>
  <% end %>
</ul>